<div class="app">
  <div class="container">
    <div class="theme">
      <ui-switch size="small" color="rgb(56, 56, 56)"
      switchColor={{switchColor}}
      defaultBoColor={{switchColor}}
      checkedLabel="Dark" uncheckedLabel="Light"
      checkedTextColor="white"
      (change)="toggleDark($event)"
      [checked]="isDark"
      >
      </ui-switch>
    </div>
    <div class="header">
      <span class="title">{{word==''? "WORD-HUNT":word}}</span>
      <div class="inputs">
     </div>
    </div>
    <div class="meanings">
      <div *ngIf="word.length==0">
        <span class="subTitle">Start by typing a word in search</span>
      </div>
      <div>
          <mat-form-field appearance="legacy">
          <mat-label>Search a word</mat-label>
          <input matInput placeholder="Placeholder" [(ngModel)]="word" [formControl]="searchMeaning">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Select Language</mat-label>
          <mat-select [(value)]="selectedLanguage">
            <mat-option value="English">English</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="audioUrl.length>0">
        <audio controls src = {{audioUrl}}>
          <source src = {{audioUrl}} type = "audio/mpeg">
        </audio>
      </div>
      <div *ngFor="let item of data; index as i">
        <span *ngFor="let meaning of item.meanings; index as j;">
          <h2>Definition</h2>
          <div *ngFor="let definition of meaning.definitions">
            {{definition.definition}}
          </div>
        </span>
        <br>
      </div>
      <div>
        <span *ngIf="data.length==0">No results found.</span>
      </div>
    </div>

</div>
</div>
